<!DOCTYPE html>
<html>

<head>
    <title>Buy Coin</title>
    <link rel="stylesheet" type="text/css" href="static/buy.css">
    <script src="static/buy.js"></script>
</head>

<body>
    <header>
        <h1><a href="/">Buy Coin</a></h1>
    </header>

    <main>
        <div class="container">
            <div class="buy-box">
                <div class="buy-body">
                    <h2 class="buy-title">Buy Coin</h2>
                    
                    <form action="{{url_for("buy_coin")}}" method="get">
                        <div class="form-group">
                            <label for="coin">Selected Coin:</label>
                            <p id="coin">Coin1</p>
                        </div>

                        <div class="form-group">
                            <label class="form-control" >Current marketplace's coin holdings :</label><br>
                           <p id="coin">{{marketcoin}}</p>
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" min="1" step="1" class="form-control"
                                required>
                             <!-- 아이디 , 이름 : quantity -->
                            
                        </div>

                        <div class="form-group">
                            <label for="price">Price:</label>
                            <p id="price" class="price">100</p>
                        </div>
                        <button type="submit" class="buy-button">Buy Now</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>